body {
  background-color: #282c34;
}

.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

td {
  padding: 15px;
}

.resetButton {
  background: none;
  appearance: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: inherit;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  margin-top: 30px;
}

.plates {
  display: flex;
  align-items: center;
  margin: 0 -15px;
  flex-wrap: wrap;
  justify-content: center;
}

.plate {
  margin: 0 15px;
  margin-bottom: 30px;
}

.plate-title {
  margin-bottom: 10px;
  text-transform: capitalize;
}
